.carousel {
  width: 840px;
  height: 400px;
  margin: 0 auto;
  position: relative;

  &__main > img {
    width: 640px;
    height: 400px;
    object-fit: cover;
    margin: 0 auto;
  }

  &__prev {
    cursor: pointer;
    color: lightgray;

    &:hover {
      opacity: 0.8;
    }
  }

  &__next {
    cursor: pointer;
    color: lightgray;

    &:hover {
      opacity: 0.8;
    }
  }

  &__thumbnails {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;

    & li {
      cursor: pointer;
      opacity: 0.4;
      &:hover {
        opacity: 1;
      }
      &.current {
        opacity: 1;
      }
    }
    & img {
      width: 80px;
    }
  }
}

.flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.fade {
  &-enter {
    opacity: 0;
    &-to {
      opacity: 1;
    }
    &-active {
      transition: opacity 0.5s;
    }
  }
  &-leave {
    opacity: 1;
    &-to {
      opacity: 0;
    }
    &-active {
      transition: opacity 0.5s;
    }
  }
}
